<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Account Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .login-container {
            background-color: #ffffff;
            margin-top: 100px;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-container h3 {
            margin-bottom: 20px;
            text-align: center;
        }
        .form-control {
            margin-bottom: 15px;
        }
        .btn-custom {
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-6">
            <div class="login-container">
                <h3>Reset Account Password</h3>
                <p class="text-center">Enter a new password for your account</p>
                <form action="/reset-password/<%= token %>" method="post">
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input type="password" class="form-control" placeholder="New Password" id="newPassword" name="password">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <input type="password" class="form-control" placeholder="Confirm New Password" id="confirmNewPassword" name="confirmPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-custom">Reset Password</button>
                        </div>
                        <% if (errors.length > 0) { %>
                            <div style="color: red;" class="col-sm-12">
                             <ul>
                                 <% errors.forEach(function(error) { %>
                                     <li><%= error.msg %></li>
                                 <% }); %>
                             </ul>
                            </div>
                            <div class="col-sm-12">
                                <%} if (success) { %>
                                   <p style="color: green; padding-left: 30px;"><%= success %></p>
                                 <% } %>
                               </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
